<a href="https://colab.research.google.com/github/XuRui314/MathematicalModeling/blob/main/%E6%95%B0%E6%A8%A1%E7%AC%AC%E5%85%AD%E6%AC%A1%E7%BB%83%E4%B9%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
# preparation
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
import os
os.chdir("/content/drive/MyDrive/dataset/MathModel/2011B")
!ls

 data1.csv   data2.csv	'SimHei .ttf'

In [4]:
!wget -O /usr/share/fonts/truetype/liberation/simhei.ttf "https://www.wfonts.com/download/data/2014/06/01/simhei/chinese.simhei.ttf"
import matplotlib.pyplot as plt
import matplotlib as mpl
zhfont = mpl.font_manager.FontProperties(fname='/usr/share/fonts/truetype/liberation/simhei.ttf')
plt.rcParams['axes.unicode_minus'] = False  # 用来正常显示负号
!gdown --id 1fsKERl26TNTFIY25PhReoCujxwJvfyHn

--2022-09-02 12:57:00--  https://www.wfonts.com/download/data/2014/06/01/simhei/chinese.simhei.ttf
Resolving www.wfonts.com (www.wfonts.com)... 104.225.219.210
Connecting to www.wfonts.com (www.wfonts.com)|104.225.219.210|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10050870 (9.6M) [application/octetstream]
Saving to: ‘/usr/share/fonts/truetype/liberation/simhei.ttf’

/usr/share/fonts/tr 100%[===================>]   9.58M  31.4MB/s    in 0.3s

2022-09-02 12:57:01 (31.4 MB/s) - ‘/usr/share/fonts/truetype/liberation/simhei.ttf’ saved [10050870/10050870]

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1fsKERl26TNTFIY25PhReoCujxwJvfyHn
To: /content/drive/MyDrive/dataset/MathModel/2011B/SimHei .ttf
100% 10.1M/10.1M [00:00<00:00, 37.2MB/s]

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import MultipleLocator
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt 
from matplotlib.font_manager import fontManager

# 改style要在改font之前
plt.style.use('seaborn')  

fontManager.addfont('SimHei .ttf')
mpl.rc('font', family='SimHei')

In [28]:
data1 = pd.read_csv('data1.csv',header = None)
data1

        0      1
0   413.0  359.0
1   403.0  343.0
2   383.5  351.0
3   381.0  377.5
4   339.0  376.0
..    ...    ...
87  444.5  383.0
88  441.0  385.0
89  440.5  381.5
90  445.0  380.0
91  444.0  360.0

[92 rows x 2 columns]

In [9]:
data2 = pd.read_csv('data2.csv',header = None)
data2

      0   1
0     1  75
1     1  78
2     2  44
3     3  45
4     3  65
..   ..  ..
135  89  20
136  89  84
137  89  90
138  90  91
139  91  92

[140 rows x 2 columns]

In [10]:
points_map = data1.values

In [15]:
distance_matrix = (np.ones((92,92)) - np.eye(92))* 10000

In [16]:
distance_matrix

array([[    0., 10000., 10000., ..., 10000., 10000., 10000.],
       [10000.,     0., 10000., ..., 10000., 10000., 10000.],
       [10000., 10000.,     0., ..., 10000., 10000., 10000.],
       ...,
       [10000., 10000., 10000., ...,     0., 10000., 10000.],
       [10000., 10000., 10000., ..., 10000.,     0., 10000.],
       [10000., 10000., 10000., ..., 10000., 10000.,     0.]])

In [41]:
from scipy.spatial import distance
tem1 = 0
tem2 = 0

for i in range(140):
  tem1 = data2.values[i][0]-1
  tem2 = data2.values[i][1]-1
  distance_matrix[tem1][tem2] = distance.euclidean(data1.values[tem1], data1.values[tem2])
  distance_matrix[tem2][tem1] = distance.euclidean(data1.values[tem1], data1.values[tem2])

distance_matrix[1][43]

9.486832980505138

In [42]:
graph = distance_matrix.copy()
n=92
for k in range(n):
	for i in range(n):
		for j in range(n):
			graph[i][j] = min(graph[i][j], graph[i][k] + graph[k][j])
graph

array([[ 0.        , 18.98749007, 38.83884244, ..., 41.17858173,
        45.92199822, 65.94698261],
       [18.98749007,  0.        , 21.11653633, ..., 58.53285985,
        63.27627634, 80.72795914],
       [38.83884244, 21.11653633,  0.        , ..., 71.19906688,
        74.84050109, 82.49003808],
       ...,
       [41.17858173, 58.53285985, 71.19906688, ...,  0.        ,
         4.74341649, 24.76840088],
       [45.92199822, 63.27627634, 74.84050109, ...,  4.74341649,
         0.        , 20.02498439],
       [65.94698261, 80.72795914, 82.49003808, ..., 24.76840088,
        20.02498439,  0.        ]])

In [ ]:
# 取出前20行，然后删去1-20列和特殊值，得到一个二维list

time_matgraph[0:19]